@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/*SCSS Variables
---------------------------------------------------*/

$Cyan: hsl(179, 62%, 43%); //Primary color
$light-cyan: hsl(179, 62%, 46%);
$Bright-Yellow: hsl(71, 73%, 54%); //Primary color
$Light-Gray: hsl(204, 43%, 93%); //Neutral color
$Grayish-Blue: hsl(218, 22%, 67%); //Neutral color

$padding: 1.25rem;

$desktop: 700px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

/*General styling
---------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: $Light-Gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}

/* Container 
---------------------------------------------------*/

.container {
    max-width: 350px;
    margin: 1.5rem;
    
    @include desktop {
        max-width: 600px;
        margin-top: 80px;
    }
}

/* Hero Section
---------------------------------------------------*/

.hero {
    background: white;
    padding: $padding;
    border-radius: 6px 6px 0 0;

    @include desktop {
        padding-left: 2rem;
    }

    .main-header {
        color: $Cyan;
        padding: $padding 0;
    }

    .description {
        color: $Bright-Yellow;
        padding-bottom: $padding;
    }

    .hero-paragraph {
        color: $Grayish-Blue;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }


}

/* Main Section
---------------------------------------------------*/

.main {

    @include desktop {
        display: flex;
    }

    .header h3 {
        color: $Light-Gray;
        margin-bottom: 1rem;
    }

    .subscription {
        background: $Cyan;
        padding: $padding;

        @include desktop {
            width: 50%;
            border-radius: 0 0 0 6px;
            padding-left: 2rem;
        }

        .pricing {
            margin-bottom: 1rem;
        }

        .pricing strong {
            color: $Light-Gray;
            font-size: 2rem;
            vertical-align: middle;
        }

        .pricing span {
            color: $Light-Gray;
            opacity: 50%;
            font-size: 1rem;
            margin-left: .4rem;
           
        }

        .main-paragraph {
            color: $Light-Gray;
            opacity: 90%;
            margin-bottom: 1.5rem;
        }

        .sign-up button {
            background-color: $Bright-Yellow;
            width: 100%;
            height: 50px;
            color: $Light-Gray;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            cursor: pointer;

            @include desktop {
                width: 95%;
                height: 40px;
            }
        }

    }

    .about {
        background: $light-cyan;
        padding: $padding;
        border-radius: 0 0 6px 6px;

        @include desktop {
            width: 50%;
            border-radius: 0 0 6px 0;
            padding-left: 2rem;
        }

        .list ul{
            list-style-type: none;
        }

        li {
            color: $Light-Gray;
            opacity: 70%;
            font-size: 14px;
            line-height: 1.25rem;
        }

    }
}

